  <header class="cd-header">
		<div class="cd-logo">
			
		</div>

		<a class="cd-primary-nav-trigger" >
      <div class="cd-menu">
        <span class="cd-menu-icon"></span>
        <span class="cd-menu-icon white_bk"></span>
      </div>
		</a> <!-- cd-primary-nav-trigger -->

    <a class="myemail" href="mailto:service@wdr.tw" style="">
      <span>service@wdr.tw</span>
    </a>
	</header>



	<nav>
    <div class="cd-primary-nav">
      <div class="left_menu">
        <ul>          
          <li><a href="/ourworks">Work</a></li>
          <li><a href="/contact">Contact</a></li>
          <li class="start_form"><a href="#">Start a project</a></li>
    		</ul>
      </div><!--  Left Menu -->
      <div class="right_cavas">
      </div><!-- right Canvas -->

      <div class="contact">
        <ul>
          <li><a href="tel:+886932198085">t: +0932198085</a></li>
          <li><a href="mailto:service@wdr.tw">m: service@wdr.tw</a></li>
        </ul>
      </div>
    </div>
	</nav>
