<div  id="single_work"  class="content">
  <header  class="work_header">
    <div class="work_postmeta">Website</div>
    <h1><%= @work.title %></h1>


    <div class="work_preview">
      <img src="<%= url_for(@work.images) %>" ">
    </div>

    <div class="work_spec">
      <ul>
        <li>Content Creation </li>
        <li>Design </li>
        <li>Responsive Web DEvelopment </li>
      </ul>
    </div>
  </header>
</div>
