
<div class="" id="fullpage">
  
</div>

<div class="block" id="home" >
    <%= render 'home/tpl/header' %>

    <%= render 'home/tpl/content' %>

    <%= render 'home/tpl/full_img' %>

    <%# = render 'home/tpl/footer' %>
</div><!-- home [end] -->

<%= render 'home/tpl/footer' %>
