
<div class="" id="fullpage">
  <video autoplay muted loop id="">
    <source src="<%= asset_path 'The-Hill.mp4' %>" type="video/mp4">
  </video>
</div>

<div class="block" id="home" >
    <%= render 'home/tpl/header' %>

    <%= render 'home/tpl/single_work' %>

    <%= render 'home/tpl/single_work_content' %>

    <%# = render 'home/tpl/footer' %>
</div><!-- home [end] -->
