$menu_height: 100vh;



.cd-primary-nav{
  background: #fff;
  z-index: 2;
}


.cd-header {
  top: 0;
  left: 0;
  position: fixed;
  width: 6.25%;
  height: $menu_height;
  z-index: 4;

  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .cd-logo{
    height:85px;
    position: relative;
    a{
      padding-top:15px;
      padding-left:15px;
      display: block;
      height:100%;
      align-items:  center;
      img{
        height:calc( 100% - 20px);
      }
    }
  }

  .cd-primary-nav-trigger{
    top:50%;
    position: absolute;
    left:20px;
  }
  .myemail{
    width: 20px;
    height: 120px;
    margin-left: 34px;
    bottom: 0!important;
    -webkit-transform: translateY(calc(100vh - 230px)) translateX(0);
    transform: translateY(calc(100vh - 230px)) translateX(0);
    display: block;
    color:#333;
      span{
        -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
            -webkit-transform-origin: center;
            transform-origin: center;
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
            font-size: 13px;
            letter-spacing: 1px;
      }
  }
}


@media only screen and (min-width: 768px) {
  .cd-header {
    height: $menu_height;

    box-shadow: none;
  }
}


@media only screen and (min-width: 1170px) {
  .cd-header {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .cd-header.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -80px;
    background-color: rgba(2, 23, 37, 0.96);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-header.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .cd-header.menu-is-open {
    /* add a background color to the header when the navigation is open */
        background-color: transparent;
  }
}






@media only screen and (min-width: 768px) {
  .cd-secondary-nav {
    display: block;
  }
}


.cd-primary-nav-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  cursor:pointer;
}
.cd-primary-nav-trigger .cd-menu-text {
  color: #232323;
  text-transform: uppercase;
  font-weight: 700;
  /* hide the text on small devices */
  display: none;
}
.cd-primary-nav-trigger{
      .cd-menu{
        height:30px;
        width:34px;
        overflow: hidden;
        position: relative;

      .cd-menu-icon {
        /* this span is the central line of the menu icon */
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 45%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        width: 19px;
        height: 2px;
        background-color: #232323;;
        -webkit-transition: background-color 0.3s;
        -moz-transition: background-color 0.3s;
        transition: background-color 0.3s;
        /* these are the upper and lower lines in the menu icon */

        &.white_bk{
            background-color: #fff;;
            top: 55%;
          &:before,
          &:after{
            background-color: #fff;;
          }
        }
    }
  }
}
.cd-primary-nav-trigger .cd-menu-icon::before, .cd-primary-nav-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #232323;;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
.cd-primary-nav-trigger .cd-menu-icon::before {
  top: -6px;
}
.cd-primary-nav-trigger .cd-menu-icon::after {
  top: 6px;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before, .cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  background-color: #232323;
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-primary-nav-trigger .cd-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}


@media only screen and (min-width: 768px) {
  .cd-primary-nav-trigger {

    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-primary-nav-trigger .cd-menu-text {
    display: inline-block;
  }
  .cd-primary-nav-trigger .cd-menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}














.cd-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;

  z-index: 3;
  text-align: center;
  padding:  0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;

  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);

  transition: 0s;



  .left_menu{
    width:100%;
    padding-right: 46.6666vh;
    height:100%;
    padding-top: 130px;
    padding-left:80px;
    ul{
     
      padding-left: 0;
      li{
        list-style-type: none;
        text-align: left;
        a{
          text-align: left;          
        }
      }
    }
  }


  .right_cavas{
    width: 46.666vh;
    position: absolute;
    right: 0;
    top: 0;
    background: #bf0000;
    height: 100%;
  }

  .contact{
    position: absolute;
    right:0px;
    bottom:20px;
    margin-right:calc( 46.6666vh + 30px);
    ul{
      li{
        text-align: left;
        font-size: 0.666rem;
        color:#333;
        list-style-type: none;
        a{
          letter-spacing: 1px;
          color:#333;
        }
      }
    }
  }
}

















.cd-primary-nav {

    .left_menu li {
      /*
      font-size: 22px;
      font-size: 1.375rem;
      font-weight: 300;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      padding: 5px 8px;
      position: relative;
      height: 52px;
      overflow: hidden;
      */

      a{
        top: 100%;
        position: absolute;
        display: inline-block;
        border-radius: 0.25em;
        transition-duration:  0.2s;
      }
      &:nth-of-type(0) a{
        transition-delay: calc(.4s);
      }
      &:nth-of-type(1) a{
        transition-delay: calc(.45s);
      }
      &:nth-of-type(2) a{
        transition-delay: calc(.5s);
      }
      &:nth-of-type(3) a{
        transition-delay: calc(.55s);
      }
      &:nth-of-type(4) a{
        transition-delay: calc(.6s);
      }
      &:nth-of-type(5) a{
        transition-delay: calc(.65s);
      }
    }

    &.is-visible{
        .left_menu li{ 
          a{
             // top:0;
          }
      }
    }
}




.no-touch .cd-primary-nav a:hover {
  background-color: #e36767;
}
.cd-primary-nav .cd-label {
  color: #06446e;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 2.4em 0 .8em;
}
.cd-primary-nav .cd-social {
  display: inline-block;
  margin: 0 .4em;
}
.cd-primary-nav .cd-social a {
  width: 44px;
  height: 44px;
  padding: 0;
  background-image: url("../img/cd-socials.svg");
  background-repeat: no-repeat;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.cd-primary-nav .cd-facebook a {
  background-position: 0 0;
}
.cd-primary-nav .cd-instagram a {
  background-position: -44px 0;
}
.cd-primary-nav .cd-dribbble a {
  background-position: -88px 0;
}
.cd-primary-nav .cd-twitter a {
  background-position: -132px 0;
}
.cd-primary-nav.is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;


}

.cd-primary-nav.is-visible.is-visibleback {
  // -webkit-transform: translateX(100%);
  // -moz-transform: translateX(100%);
  // -ms-transform: translateX(100%);
  // -o-transform: translateX(100%);
  // transform: translateX(100%);
  opacity: 0;
  transition: 0.5s;
}


@media only screen and (min-width: 768px) {
  .cd-primary-nav {
    // padding: 80px 0;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-primary-nav li {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .cd-primary-nav .cd-label {
    font-size: 16px;
    font-size: 1rem;
  }
}




@media screen and (min-width: 768px){

  .cd-primary-nav .left_menu ul li a{
    position: relative;
    display: inline-block;
  }


  .cd-primary-nav .left_menu ul li a:after {
      transition-delay: 0s ! important;
      content: " ";
      display: block;
      position: absolute;
      bottom: 8px;
      left: -5px;
      z-index: -1;
      width: 0;
      height: 10px;
      background-color: #62d1be;
      animation: hoverEffectTypeB 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 0ms 1 normal forwards;
  }

  .cd-primary-nav .left_menu ul li a:hover:after {
    width:100%;
    animation: hoverEffectTypeA 400ms cubic-bezier(0.645, 0.045, 0.355, 1) 0ms 1 normal forwards;
  }

  @keyframes hoverEffectTypeA {
    0% {
      left: 0;
      right: auto;
      width: 0;
    }
    100% {
      left: 0;
      right: auto;
      width: 100%;
    }
  }
  
  @keyframes hoverEffectTypeB {
    0% {
      left: auto;
      right: 0;
      width: 100%;
    }
    100% {
      left: auto;
      right: 0;
      width: 0;
    }
  }
  

}


