#single_work{
    background: #333;
    padding-left: 6.25%;
    padding-top: 12.5vh;
    padding-bottom: 12.5vh;
    color: #fff;
    position: relative;
    z-index: 2;
    height: 100vh;
    .work_header{
      padding-left: 6.66667%;
      padding-right: 4.44444%;
      h1{
        margin-top:0.7em;
        font-weight: 700;
      }
      .work_spec{
        position: absolute;
        bottom: 12.5vh;
        &:before{
          content:" ";
          position: absolute;
          top:0;
          width: 20px;
          height: 3px;
          background-color: hsla(0,0%,100%,.3);
        }

        ul{
          padding-top:20px;
          padding-left:0;
          li{
            list-style-type: none;
            font-size: 14px;
          }
        }
      }

      .work_preview{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 33.33%;
        img{
          width:100%;
          border-top-left-radius: 5px;
        }
      }
    }
}
