<h1>My Admin</h1>
<%= render 'partial/admin_menu' %>


<div class="content-wrap ">
  <div class="container">

    <div class="card">
      <div class="card-content">
              xxs
      </div>
    </div><!-- end card -->


  </div>
</div>
